body {
   background-image: url("");
   background-size: cover;
   background-color: #fffba6;
   background-repeat: no-repeat;
}

section {
   margin-left: 250px;
   margin-right: 250px;
   width: 800px;
   height: 600px;
   background-color: white;
   display: inline;
}

.logo img {
   width: 10%;
   height: 10%;
   display: block;
   margin-left: -150px;
   padding: 20px;
}

.logo {
   background: url("");
   margin-left: 240px;
   margin-right: 250px;
   background-size: 100px 100px;
}

#login {
   width: 2.5%;
   height: 2.5%;
   margin-left: 1200px;
   margin-top: -5000px;
}

#new-year {
   position: relative;
   top: 50%;
   width: 20%;
   height: 20%;
   margin: 0 auto 0 auto;
   transform: translateY(-50%);
   margin-top: -25px;
}

#new-year svg {
   width: 100%;
   height: 100%;
}

.stroke-fill {
   stroke-dasharray: 1000;
   stroke-dashoffset: 1000;
   stroke: #bd2b2b;
}

#happy-stroke {
   -webkit-animation: happy-dash 1.7s linear normal forwards;
   animation: happy-dash 1.7s linear normal forwards;
}

#n-stroke {
   -webkit-animation: dash 2s 1.8s linear normal forwards;
   animation: dash 2s 1.8s linear normal forwards;
}

#ew-stroke {
   -webkit-animation: dash 2s 2.5s linear normal forwards;
   animation: dash 2s 2.5s linear normal forwards;
}

#y-stroke {
   -webkit-animation: dash 2s 3.3s linear normal forwards;
   animation: dash 2s 3.3s linear normal forwards;
}

#ye-stroke {
   -webkit-animation: dash 1s 4s linear normal forwards;
   animation: dash 1s 4s linear normal forwards;
}

#ear-stroke {
   -webkit-animation: dash 2s 4.18s linear normal forwards;
   animation: dash 2s 4.18s linear normal forwards;
}

#underline-stroke {
   -webkit-animation: dash 0.5s 5.5s cubic-bezier(0.55, 0.085, 0.68, 0.53) normal forwards;
   animation: dash 0.5s 5.5s cubic-bezier(0.55, 0.085, 0.68, 0.53) normal forwards;
}

@-webkit-keyframes dash {
   0% {
      stroke-dashoffset: 1000;
   }
   100% {
      stroke-dashoffset: 0;
   }
}

@keyframes dash {
   0% {
      stroke-dashoffset: 1000;
   }
   100% {
      stroke-dashoffset: 0;
   }
}

@-webkit-keyframes happy-dash {
   0% {
      stroke-dashoffset: 1000;
   }
   6% {
      stroke-dashoffset: 976;
   }
   6.01% {
      stroke-dashoffset: 958;
   }
   13% {
      stroke-dashoffset: 936;
   }
   13.01% {
      stroke-dashoffset: 905;
   }
   20% {
      stroke-dashoffset: 896;
   }
   20.01% {
      stroke-dashoffset: 864;
   }
   27% {
      stroke-dashoffset: 840;
   }
   27.01% {
      stroke-dashoffset: 830;
   }
   34% {
      stroke-dashoffset: 808;
   }
   34.01% {
      stroke-dashoffset: 775;
   }
   40% {
      stroke-dashoffset: 764;
   }
   40.01% {
      stroke-dashoffset: 738;
   }
   60% {
      stroke-dashoffset: 688;
   }
   60.01% {
      stroke-dashoffset: 658;
   }
   80% {
      stroke-dashoffset: 610;
   }
   80.01% {
      stroke-dashoffset: 580;
   }
   90% {
      stroke-dashoffset: 555;
   }
   90.01% {
      stroke-dashoffset: 543;
   }
   99.99% {
      stroke-dashoffset: 525;
   }
   100% {
      stroke-dashoffset: 0;
   }
}

@keyframes happy-dash {
   0% {
      stroke-dashoffset: 1000;
   }
   6% {
      stroke-dashoffset: 976;
   }
   6.01% {
      stroke-dashoffset: 958;
   }
   13% {
      stroke-dashoffset: 936;
   }
   13.01% {
      stroke-dashoffset: 905;
   }
   20% {
      stroke-dashoffset: 896;
   }
   20.01% {
      stroke-dashoffset: 864;
   }
   27% {
      stroke-dashoffset: 840;
   }
   27.01% {
      stroke-dashoffset: 830;
   }
   34% {
      stroke-dashoffset: 808;
   }
   34.01% {
      stroke-dashoffset: 775;
   }
   40% {
      stroke-dashoffset: 764;
   }
   40.01% {
      stroke-dashoffset: 738;
   }
   60% {
      stroke-dashoffset: 688;
   }
   60.01% {
      stroke-dashoffset: 658;
   }
   80% {
      stroke-dashoffset: 610;
   }
   80.01% {
      stroke-dashoffset: 580;
   }
   90% {
      stroke-dashoffset: 555;
   }
   90.01% {
      stroke-dashoffset: 543;
   }
   99.99% {
      stroke-dashoffset: 525;
   }
   100% {
      stroke-dashoffset: 0;
   }
}

#container {
   margin: 90px 250px 0px 250px;
   font-family: 'Patrick Hand', cursive;
   color: #EE0000;
   font-size: 25px;
}

.button1 {
   font-size: 20px;
   background: url("/Image/but1.jpg");
   background-size: contain;
   padding: 1em 0.6em;
   border: none;
   margin: 5px;
   border-radius: 6px;
   transition: 0.5s;
   color: rgb(248, 38, 38);
   margin-left: auto;
   margin-right: auto;
   display: block;
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

   }
   .button1 span {
      position: relative;
      display: inline-block;
      cursor: pointer;
      transition: 0.5s;
   }
   .button1 span:after {
      content: "\00bb";
      position: absolute;
      transition: 0.5s;
      opacity: 0;
   }
   .button1:hover span {
      padding-right: 20px;
   }
   .button1:hover span:after {
      opacity: 1;
      right: 0;
   }
   #main {
      margin-left: 150px;
      margin-right: 150px;
      text-align: justify;
      margin-top: 25px;
      line-height: 35px;
   }
   .buffalo img {
      width: 20%;
      height: 20%;
      padding: 55px;
   }
   #bfright img {
      margin-left: 950px;
      margin-top: -650px;
   }
   /* span {
    font-family: 'Georgia', cursive;
  font-size: 20px;
 position: fixed; 
  top: 50%;
  left: 50%;
  color: #white;
  margin-top: -40px;
  margin-left: -200px;
} */
   @media screen and (max-width: 2000px) {}